<h1>Editing Standard Product Unit</h1>

<%= render 'form', standard_product_unit: @standard_product_unit %>

<%= link_to 'Show', @standard_product_unit %> |
<%= link_to 'Back', standard_product_units_path %>
